.speech{
    font-size: medium;
    font-family: 'Times New Roman';
    color:black;
}

.direction{
    font-family: serif;
    font-size: small;
    color: black;
    background-color: mintcream;
}

.direction:hover{
    background-color: aliceblue;
    color: aquamarine;
}

.nora {
    color: #007acc; 
  }
  
.porter {
    color: #ff6600; 
}

.helmer {
    color: #009900; 
}

.ibsen-table {
    width: 100%;
    border-collapse: collapse;
}

.ibsen-table th,
.ibsen-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.ibsen-table th {
    background-color: #f2f2f2;
    color: #333;
}

.ibsen-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.ibsen-table tbody tr:hover {
    background-color: #ddd;
}

.nora:hover {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); 
    border: 2px solid blue; 
}

.porter:hover {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); 
    border: 2px solid blue; 
}

.helmer:hover {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); 
    border: 2px solid blue; 
}

ul.navbar-vertical {
    list-style-type: none;
    margin: 0;
    padding 0;
    width: 100px;
    background-color: red;
}

ul.navbar-vertical a {
    display: block;
    color: #000;
}


ul.navbar-vertical a:hover {
    background-color: #555;
    color: white;
}